/* Top welcome section */
.welcome-section {
  margin: 10px;
  padding: 0;
  background: url(assets/bg.jpg);
  background-size: cover; 
  background-position: center; 
  height: 450px;
  color: #ffffff;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  text-align: center;
}



.container {
  margin: 0 auto;
  width: 85%;
}

header, footer {
  color: white;
  padding: 0px;
  background-color: transparent; /* Make the navigation bar transparent */
  border-top: 1px solid white;
}

/* Navigation Bar */
/* Navigation Bar */
nav {
  background-color: transparent; /* Make the navigation bar transparent */
  border-bottom: 1px solid white; /* Add a white border at the bottom */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;


}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #4f4b4b; /* White */
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: flex-end; /* Move contents to the right */
}

.navbar-list .nav-item {
  margin-left: 0px; /* Adjust spacing between items if necessary */
}


/* Set background image for the whole page */
body {
  background: url(assets/bg.jpg) no-repeat fixed center;
  background-size: cover;
}
